/* ========================= */
.container-05 {
    max-width: 1440px;
    padding-top: 100px;

    font-family: "Inter", sans-serif;
}

/* ========================= */
.inner__container-05 {
    max-width: 1271.42px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    gap: 50px;
}

.container-05-flexbox {
    width: 300px;
    height: 250px;
}

/* ========================= */
.container-05-header p {
    font-size: 26.4px;
    font-weight: 700;

    margin-bottom: 0;
}

.container-05-description {
    margin: 0;
}

.container-05-description p {
    font-size: 16.25px;
    margin: 0;

    margin-top: 16.25px;
    margin-bottom: 0;
}

.container-05-button {
    text-align: center;
    padding-top: 75px;

    padding-bottom: 75px;
}

.container-05-button a {
    font-size: 34.53px;
    font-weight: 700;

    border: 2px solid black;
    border-radius: 10.16px;

    padding: 20px 40px;
    color: black;

    text-decoration: none;
}

/* ========================= */