/* ========================= */
.container-06 {
    max-width: 1440px;
    font-family: "Inter", sans-serif;

    display: flex;
    flex-direction: column;

    gap: 30px
}

/* ========================= */
.inner__container-06 {
    max-width: 1440px;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-06-flexbox {
    max-width: 1271.42px;
    margin: 0 auto;
}

.container-06-header p {
    font-size: 35.54px;
    font-weight: 700;
}

/* ========================= */
.container-06-header p {
    font-size: 35.54px;
    font-weight: 700;

    color: white;
    margin-top: 83.27px;
}

.container-06-description p {
    width: 555px;
    font-size: 24.37px;

    color: white;
    margin-bottom: 283.24px;
}

/* ========================= */